.build
build
jniLibs
Packages
*.class
*.so
*.apk
local.properties
.gradle
.DS_Store
*.pins
*.resolved
.build
build
jniLibs
Packages
*.class
*.so
*.apk
vcs.xml

swifthello/.idea

swifthello/swifthello.iml
